{
	"port": 8001, 
	"repositories": 
	[{
		"url": "https://github.com/logsol/Test-Repo", 
		"path": "/home/logsol/projects/production/Test-Repo",
		"branch" "master",
		"deploy": "git pull origin master && echo deploying master branch"
	}, 
	{
		"url": "https://github.com/logsol/Test-Repo", 
		"path": "/home/logsol/projects/development/Test-Repo",
		"branch" "develop",
		"deploy": "git pull origin develop && echo deploying develop branch"
	}]
}
